<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="false"
            android:label="@string/title_activity_splash" />

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main" />

        <activity
            android:name=".ui.web.WebActivity"
            android:exported="false"
            android:label="@string/title_activity_web" />

        <activity
            android:name=".ui.search.SearchActivity"
            android:exported="false"
            android:label="@string/title_activity_search" />
        <activity android:name="com.open.pkg.ui.media.AlbumActivity"
            android:exported="false"
            android:label="@string/title_activity_album"
            />
    </application>

</manifest>